body {
  font-family: Helvetica, Arial;
  font-size: 11pt;
  padding: 0;
  margin: 0;
  background-color: #fcfcfc;
}

.center {
	margin: auto;
	max-width:  260mm;
	min-height: 100%;
	text-align: center;
}

.depict_icon_button {
  margin: 1px;
  cursor: pointer;
  float:  right;
}

.depict_icon_button:hover {
  color: #66aaff;
}

#depict_main_opts {
	padding:    2px;
	text-align: left;
	font-size:  15pt;
}

.chemimg {
	margin-left:    auto;
	margin-right:   auto;
	vertical-align: middle;  /* vertical alignment of the inline element */
	display: inline-block;
}

.chemdiv a {
  display: inline-block;
}


.chemdiv {
  display:          inline-block;
  margin:           0;
  text-align:       center;
  vertical-align:   middle;
  background:       #fff;
}

#depict_extra_opts {
  display: none;
}

#depict_extra_opts th,
#depict_extra_opts input,
#depict_extra_opts select {
  font-family: Futura;
  font-size:   10pt;
}

#depict_extra_opts input,
#depict_extra_opts select {
  border: 1px solid #444;
  border-radius: 2px;
  font-size:   8pt;
}

#depict_extra_opts {
	margin: auto;
}

.textin {
	background-color: #333;
	color: #00ee00;
	font-family: "Courier", Monospace;
	font-size: 10pt;
	padding: 5px;
	border: none;
}

textarea#input {
	width:  100%;
	min-height: 40px;
	height: 125px;
	resize: vertical;
}

#sma {
	width:  250px;
	resize: none;
}