body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;  
  padding: 0;
  margin: 0;
  background-color: #5368ad;
  color: #222;
}

body#react {
  background-color: #ad5368;
}

.center {
	margin: auto;
	max-width:  1060px;
	text-align: center;
	background: white;
    margin-top: 60px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.center > div.content {
	padding: 50px;
}

#react .center {
   margin-top: calc(60px + 32px);
   border-radius: 0 15px 15px 15px;
}

#react > .center > div.content {
	padding: 10px 50px 50px 50px;
}

.header {
  text-align: left;
  margin-bottom: 20px;  
}

.footer {
  text-align: left;
  font-size: small;
  margin-top: 40px;
  margin-bottom: -40px;
}

.header h1 {
  color: #485c91;  
}

i.icon {
  margin: 1px;
  cursor: pointer;
  vertical-align: middle;
}

.depict_icon_button:hover {
  color: #66aaff;
}

#depict_main_opts {
	padding:    2px;
	text-align: left;
	font-size:  15pt;
}

#result {
  text-align: left;
  padding: 5px 0 0 0;
}

.chemdiv {
  display:          inline-block;
  margin:           0;
  text-align:       center;
  vertical-align:   middle;
  background:       #fff;
  padding:          2px;
  box-sizing:       border-box;
  transition: 600ms ease-in-out;
}

.chemdiv:hover {
  background: #eeeeff;
  transition: 600ms ease-in-out;
}

.chemdiv:hover .links {
  opacity: 100%;
}

.chemdiv.molecule {
  width:      240px;
  max-width:  240px;
  height:     200px;
  max-height: 200px;
}

.chemdiv.reaction {
  width:      480px;
  max-width:  480px;
  height:     200px;
  max-height: 200px;
}

.chemdiv.scheme {
  width:      480px;
  max-width:  480px;
}

.chemdiv .grid {
  display: grid;
  grid-template-rows: minmax(0, auto) max-content min-content;
  grid-template-columns: minmax(0, auto);
  grid-template-areas: "main"
                       "bottom"
                       "vbottom";
  width: 100%;
  height: 100%
}

.img {
    justify-self: justify;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    grid-area: main;
    position: relative;
}

.img .valign-helper {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.img img {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

.title {
  width: 100%;
  font-size: smaller;
  grid-area: bottom;
}

.smiles {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Menlo, Fixed;
  color: #444;
  font-size: x-small;
  grid-area: vbottom;

}

.react-dir {
  padding: 2px;
  background: white;
  border: none;
  border-radius: 5px;
}

.react-dir:hover {
  padding: 2px;
  background: lightblue;
  border: none;
}

#help-text {
	background: lightgreen;
	font-size: smaller;
	margin: 5px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	display: none;
}

.links {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.links a {
  color: inherit;
  font-size: 16pt;
  padding: 1px;
}

.links a:hover {
  color: steelblue;
  text-shadow: 0 0 3px steelblue;
}

/* styles */

.chemdiv {
  background: white;  
}

.wob .chemdiv,
.cob .chemdiv,
.wot .chemdiv {
  background: black;
  color: #eee;
}

.nob .chemdiv {
  background: black;
  color: #00FF0E;
}

.nob .links a:hover {
  color: yellow;
  text-shadow: 0 0 3px yellow;
}

.error img {
  display: none;
}

.error-mesg {
  color: red;
  font-size: 9pt;
  text-align: left;
  overflow: hidden;
}

..error-mesg h1 {
  font-size: 1.1em;
  margin: 0;
}

..error-mesg pre {
  font-size: 6pt;
  font-family: Courier, 'Fixed Width';
}

#depict_extra_opts {
  display: none;
}

#depict_extra_opts th,
#depict_extra_opts input,
#depict_extra_opts select {
  font-family: Futura;
  font-size:   10pt;
}

#depict_extra_opts input,
#depict_extra_opts select {
  border: 1px solid #444;
  border-radius: 2px;
  font-size:   8pt;
}

#depict_extra_opts {
	margin: auto;
}

.textin {
	background-color: #f4f4f4;
	color: black;
	font-family: Menlo, Courier-New, Courier, Fixed-Width;
	font-size: 9pt;
	padding: 5px;
}

textarea#input {
	width:  100%;
	min-height: 40px;
	height: 125px;
	resize: vertical;
}

#inputs {
	display: grid;
	grid-template-columns: auto max-content auto;
	grid-gap: 5px;
	align-items: center;
}

#inputs input {
	grid-column: span 3;
}

#inputs textarea {
	min-height: 40px;
    height: 125px;
	resize: none;
}

#sma {
	width:  249px;
	resize: none;
}

input,
textarea {
  border-radius: 3px;
  border: 1px solid #444;
}

textarea {
  padding: 5px;
}

.smirks-opts {
  border-collapse: collapse;
  border: 1px solid #555;
  width: calc(100% - 70px);
  margin-left: 35px;
  margin-right: 35px;
}

.smirks-opts td {
  background: #fff;
  color: black;
  font-size: small;
  text-align: left;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background: none;
  position: relative;
  bottom: 32px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(223, 123, 154);
  color: #ad5368;
  border-radius: 5px 5px 0 0;
  border: solid 1px white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
  padding: 8px 16px;
  transition: 0.3s;
  height: 32px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(253, 153, 184);
}

/* Create an active/current tablink class */
.mode-react .tab button.mode-react,
.mode-norm .tab button.mode-norm,
.mode-map .tab button.mode-map {
  background-color: white;
  color: black;
}

.buttons button {
  background: #f4f4f4;
}

button#button-forward,
button#button-backward,
button#button-normalize,
button#button-map {
  display: none;
}

.mode-react button#button-forward,
.mode-react button#button-backward {
  display: block;
}

.mode-norm button#button-normalize {
  display: block;
}

.mode-map button#button-map {
  display: block;
}

.header-react,
.header-norm,
.header-map {
  display: none;
  text-align: left;
  margin-bottom: 20px;
}

.mode-react .header-react {
  display: block;
}

.mode-norm .header-norm {
  display: block;
}

.mode-map .header-map {
  display: block;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}